/* Fix for Leaflet css in our app */
.leaflet-container {
  font-family: inherit;
  width: 100%;
  height: 100%;
  background: #f8fafc;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  margin: 10px 14px;
  line-height: 1.5;
  font-size: 14px;
}

.leaflet-container .leaflet-control-attribution {
  background: rgba(255, 255, 255, 0.8);
  font-size: 10px;
}

.leaflet-marker-icon {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}

.leaflet-control-zoom a {
  color: #444;
}
